<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TP5</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style>
          body{
              background-color: #e9ebee;              
              font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
              font-size: 16px;
              margin: 0 auto;
              max-width: 800px;              
          }
        </style>
        
        <!-- Code à dé-commenter si besoin de fichier CSS ou JS -->
        <!--script src="js/bootstrap.js"></script-->
        <script src="js/main.js"></script>
        <script src="js/lib/vue.js"></script>
        
        <!--<link rel="stylesheet" href="style.css">-->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">

        <!--<script src="main.js"></script>-->
    </head>
    <body>        
        <h1>TP5</h1>
        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>
        <div id="weatherApp">
            <!-- ici votre code HTML utilisé par VUE -->
        
        <form v-on:submit="addCity">
            <div class="input-group">
                <input type="search" class="form-control" v-model="formCityName" placeholder="Search for..." aria-label="Search for..." autofocus required>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        
            <!-- affichage de nombre de caractères saisie -->
            <small class="text-muted">
                {{formCityName.length}} car.
            </small>
        
            <div class="alert alert-danger" role="alert" v-if='messageForm != ""'>
                {{messageForm}}
            </div>
                        
        </form>
        <!-- fin: formulaire de saisie de ville -->
    </div>
    </body>
</html>

